<!doctype html>
<html>
  <head>
    <title>Energiförbrukning</title>
    <meta charset="UTF-8" />
    <script type="text/javascript" src="<%= url('zepto.min.js') %>"></script>
    <script type="text/javascript" src="<%= url('zepto-adapter.src.js') %>"></script>
    <script type="text/javascript" src="<%= url('highcharts.js') %>"></script>
    <script type="text/javascript">
      var data = <%= @data %>;
      var date = '<%= @date %>';

      var series = $.map(data, function(values, name) { return {name: name, data: $.map(values||[], function(e){return [[new Date(e[0]).getTime(), e[1]]]})}});

      var months = ["Januari", "Februari", "Mars", "April", "Maj", "Juni", "Juli", "Augusti", "September", "Oktober", "November", "December"];

    $(document).ready(function () {
      Highcharts.setOptions({
          global: {
              //timezoneOffset: -1 * 60,
              useUTC: false
          }
      });

      new Highcharts.Chart({
        chart: {
          renderTo: 'container',
            type: 'column'
        },
        title: {
            text: 'Energiförbrukning',
        },
        subtitle: {
          text: months[new Date(date).getMonth()] + " " + new Date(date).getFullYear()
        },
        yAxis: {
            title: {
                text: 'kWh'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        xAxis: {
            type: 'datetime'
        },
        legend: {
            align: 'center',
            //x: -30,
            verticalAlign: 'bottom',
            //y: 25,
            floating: false,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false,
            margin: 32
        },
        tooltip: {
            headerFormat: '',
            pointFormat: '{series.name}: {point.y}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
            }
        },
        series: series
    });
  });
    </script>
  </head>
  <body>
    <div id="container" style="min-width: 310px; height: 800px; margin: 0 auto"></div>
  </body>
</html>
